.socks-carousel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;

  .sock-slide {
    height: 100vh;
    width: 100vw;
  }

  @for $i from 1 through 3 {
    .sock-slide-#{$i} {
      background: url('socks/#{$i}.jpg') no-repeat center center;
      background-size: cover;
    }
  }
}
