<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href=root_path >Sox o'phone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="nav navbar-nav pull-sm-right hidden-xs-down">
      <% if user_signed_in?%>
        <li class="nav-item">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign in', new_user_session_path %>
        </li>
      <% end %>   
    </ul>
  </div>
  
</nav>